.navbar-home {
  border-bottom: 2px solid slategray;
  width: 100%;
  height: 70px;
  position: relative;
  top: 0;
}

.navbar-buttons {
  margin: 0;
  margin-left: 15px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
