html,
body {
  background-color: #1d1d1d !important;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* .test {
  border-radius: 25px;
  border: 2px solid slategray;
  width: 130px;
  height: 100%;
  margin-right: 20px;
  margin-top: 30px;
  float: right;
  display: flex;
  color: white;
} */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
